* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: aqua;
  height: 10vh;
  text-align: center;
}

.home {
  background-color: blueviolet;
  height: 85vh;
}

.footer {
  background-color: chartreuse;
  height: 5vh;
  position: relative;
}
